In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3,4,4,4])
s

0    1
1    2
2    3
3    4
4    4
5    4
dtype: int64

In [4]:
s = pd.Series([1,0.4,3,4,4,4])
s

0    1.0
1    0.4
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

In [5]:
s = pd.Series([1,0.4,.7],index=["a",'b','c'])
s

a    1.0
b    0.4
c    0.7
dtype: float64

In [6]:
arr = np.array([1,0.4,.7])
s = pd.Series(arr,index=["a",'b','c'])
s

a    1.0
b    0.4
c    0.7
dtype: float64

In [7]:
arr[0] = 100
s

a    100.0
b      0.4
c      0.7
dtype: float64

In [8]:
s[1] =12
arr

C:\Users\YOUSSEF\AppData\Local\Temp\ipykernel_26524\1765750374.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s[1] =12

array([100. ,  12. ,   0.7])

In [9]:
arr = np.array([1,2,4,6])
s = pd.Series(arr,index=[1,2,4,6])
s.values

array([1, 2, 4, 6])

In [10]:
s.index

Index([1, 2, 4, 6], dtype='int64')

In [11]:
s[0]

KeyError: 0

In [14]:
s[1:3]

2    2
4    4
dtype: int32

In [15]:
s[10]

KeyError: 10

In [16]:
arr = np.array([1,0.4,.7,2,4,5,3,6,7,97,6,6])
s = pd.Series(arr)
s

0      1.0
1      0.4
2      0.7
3      2.0
4      4.0
5      5.0
6      3.0
7      6.0
8      7.0
9     97.0
10     6.0
11     6.0
dtype: float64

In [17]:
s>8

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
dtype: bool

In [18]:
s[s>8]

9    97.0
dtype: float64

In [19]:
s[s>6]

8     7.0
9    97.0
dtype: float64

In [20]:
s*2

0       2.0
1       0.8
2       1.4
3       4.0
4       8.0
5      10.0
6       6.0
7      12.0
8      14.0
9     194.0
10     12.0
11     12.0
dtype: float64

In [21]:
s

0      1.0
1      0.4
2      0.7
3      2.0
4      4.0
5      5.0
6      3.0
7      6.0
8      7.0
9     97.0
10     6.0
11     6.0
dtype: float64

In [22]:
np.log(s)

0     0.000000
1    -0.916291
2    -0.356675
3     0.693147
4     1.386294
5     1.609438
6     1.098612
7     1.791759
8     1.945910
9     4.574711
10    1.791759
11    1.791759
dtype: float64

In [23]:
s2= s[0:4]

In [24]:
s+s2

0     2.0
1     0.8
2     1.4
3     4.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
dtype: float64

In [29]:
y=s/0
y

0     inf
1     inf
2     inf
3     inf
4     inf
5     inf
6     inf
7     inf
8     inf
9     inf
10    inf
11    inf
dtype: float64

In [27]:
y=s/0
y.value_counts()

inf    12
Name: count, dtype: int64

In [32]:
y.isin([np.inf])

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
dtype: bool

In [33]:
y[y.isin([np.inf])]

0     inf
1     inf
2     inf
3     inf
4     inf
5     inf
6     inf
7     inf
8     inf
9     inf
10    inf
11    inf
dtype: float64

In [34]:
s[s.isin([1,2])]

0    1.0
3    2.0
dtype: float64

In [35]:
z = s+ s2

In [36]:
z.isin([np.nan])

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
dtype: bool

In [37]:
z[z.isin([np.nan])]

4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
dtype: float64

In [38]:
z.isnull()

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
dtype: bool

In [40]:
z.isnull().sum()

8

In [41]:
z.isnull().value_counts()

True     8
False    4
Name: count, dtype: int64

# data fram

In [45]:
dec = {
    "name":[i for  i in "youssef hussan"],
    "age":[i for  i in range(14)]
}

In [46]:
dec

{'name': ['y',
  'o',
  'u',
  's',
  's',
  'e',
  'f',
  ' ',
  'h',
  'u',
  's',
  's',
  'a',
  'n'],
 'age': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

In [47]:
data = pd.DataFrame(dec)

In [48]:
data

   name  age
0     y    0
1     o    1
2     u    2
3     s    3
4     s    4
5     e    5
6     f    6
7          7
8     h    8
9     u    9
10    s   10
11    s   11
12    a   12
13    n   13

In [49]:
arr = np.arange(16).reshape(4,4)

In [52]:
data.columns

Index(['name', 'age'], dtype='object')

In [53]:
data.index

RangeIndex(start=0, stop=14, step=1)

In [55]:
data ["new"] =12
data

   name  age  new
0     y    0   12
1     o    1   12
2     u    2   12
3     s    3   12
4     s    4   12
5     e    5   12
6     f    6   12
7          7   12
8     h    8   12
9     u    9   12
10    s   10   12
11    s   11   12
12    a   12   12
13    n   13   12

In [62]:
data.age

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
Name: age, dtype: int64

In [63]:
data ["new"] = data.age

In [64]:
data

   name  age  new
0     y    0    0
1     o    1    1
2     u    2    2
3     s    3    3
4     s    4    4
5     e    5    5
6     f    6    6
7          7    7
8     h    8    8
9     u    9    9
10    s   10   10
11    s   11   11
12    a   12   12
13    n   13   13

In [79]:
data.loc[[1,2],["name"]]

  name
1    o
2    u

In [80]:
#loc[[row],[colom]] take labole onlt
#iloc[[row],[colom]] take indiex onlt
data.loc[[1,2]]

  name  age  new
1    o    1    1
2    u    2    2

In [84]:
data.loc[data['age'] > 10]

   name  age  new
11    s   11   11
12    a   12   12
13    n   13   13

In [90]:
data[data['age'] > 10]

   name  age  new
11    s   11   11
12    a   12   12
13    n   13   13

In [94]:
data.apply(lambda x : x*2 )

   name  age  new
0    yy    0    0
1    oo    2    2
2    uu    4    4
3    ss    6    6
4    ss    8    8
5    ee   10   10
6    ff   12   12
7         14   14
8    hh   16   16
9    uu   18   18
10   ss   20   20
11   ss   22   22
12   aa   24   24
13   nn   26   26

In [73]:
API_KEY1 = 'sk-b565b1e111cf4c99a592373a5fa6b65c'

In [74]:
from decouple import config

# تحميل مفتاح API من ملف .env مع قيمة افتراضية
API_KEY = config('API_KEY', default=API_KEY1)

# طباعة المفتاح للتأكد من أنه تم تحميله بشكل صحيح
print("API Key:", API_KEY)

API Key: sk-b565b1e111cf4c99a592373a5fa6b65c

In [98]:
import requests

# المفتاح الخاص بك
API_KEY = 'sk-b565b1e111cf4c99a592373a5fa6b65c'

# نقطة النهاية (Endpoint) لـ DeepSeek API
url = 'https://api.deepseek.com/v1/chat'

# البيانات التي ترسلها إلى API
payload = {
    'prompt': 'مرحبًا، كيف يمكنني مساعدتك؟',  # النص الذي ترسله
    'max_tokens': 150,  # الحد الأقصى للكلمات في الرد
}

# رؤوس الطلب (Headers)
headers = {
    'Authorization': f'Bearer {API_KEY}',
    'Content-Type': 'application/json',
}

# إرسال الطلب
response = requests.post(url, json=payload, headers=headers)

# تفسير الاستجابة
if response.status_code == 200:
    data = response.json()
    print('الرد:', data['choices'][0]['text'])
else:
    print('حدث خطأ:', response.status_code, response.text)

حدث خطأ: 404 {
  "event_id": "30-inst-206-20250124201906-abe0030c",
  "error_msg": "Not Found. Please check the configuration."
}

In [106]:
data =pd.read_csv("iris.csv")

In [107]:
data

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
148  149          6.2         3.4          NaN         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[153 rows x 6 columns]

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  152 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  151 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [117]:
data_cleaned = data.dropna()
data_cleaned

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
147  148          6.5         3.0          5.2         2.0  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[150 rows x 6 columns]

In [119]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           150 non-null    int64
 1   sepallength  150 non-null    float64
 2   sepalwidth   150 non-null    float64
 3   petallength  150 non-null    float64
 4   petalwidth   150 non-null    float64
 5   class        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.2+ KB

In [121]:
data_cleaned['class'] = data_cleaned['class'].apply(lambda x: x.split("-")[1])
data_cleaned['class']

C:\Users\YOUSSEF\AppData\Local\Temp\ipykernel_26524\2052067443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['class'] = data_cleaned['class'].apply(lambda x: x.split("-")[1])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
147    virginica
149    virginica
150       setosa
151       setosa
152       setosa
Name: class, Length: 150, dtype: object

In [124]:
data_cleaned = data_cleaned.drop_duplicates()
data_cleaned

      Id  sepallength  sepalwidth  petallength  petalwidth      class
0      1          5.1         3.5          1.4         0.2     setosa
1      2          4.9         3.0          1.4         0.2     setosa
2      3          4.7         3.2          1.3         0.2     setosa
3      4          4.6         3.1          1.5         0.2     setosa
4      5          5.0         3.6          1.4         0.2     setosa
..   ...          ...         ...          ...         ...        ...
144  145          6.7         3.3          5.7         2.5  virginica
145  146          6.7         3.0          5.2         2.3  virginica
146  147          6.3         2.5          5.0         1.9  virginica
147  148          6.5         3.0          5.2         2.0  virginica
149  150          5.9         3.0          5.1         1.8  virginica

[147 rows x 6 columns]

In [125]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           147 non-null    int64
 1   sepallength  147 non-null    float64
 2   sepalwidth   147 non-null    float64
 3   petallength  147 non-null    float64
 4   petalwidth   147 non-null    float64
 5   class        147 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.0+ KB

In [126]:
data_cleaned = data_cleaned.reset_index()

In [129]:
data_cleaned["class"].value_counts()

class
setosa        50
versicolor    50
virginica     47
Name: count, dtype: int64

In [130]:
data_cleaned["Id"].isin([1,2,3])

0       True
1       True
2       True
3      False
4      False
       ...
142    False
143    False
144    False
145    False
146    False
Name: Id, Length: 147, dtype: bool

In [131]:
data_cleaned[data_cleaned["Id"].isin([1,2,3])]

   index  Id  sepallength  sepalwidth  petallength  petalwidth   class
0      0   1          5.1         3.5          1.4         0.2  setosa
1      1   2          4.9         3.0          1.4         0.2  setosa
2      2   3          4.7         3.2          1.3         0.2  setosa

In [134]:
data_cleaned.loc[[0, 1, 2, 3], ["Id",'class']]

   Id   class
0   1  setosa
1   2  setosa
2   3  setosa
3   4  setosa

In [136]:
data_cleaned.iloc[0:100:3, [1, -1]]

     Id       class
0     1      setosa
3     4      setosa
6     7      setosa
9    10      setosa
12   13      setosa
15   16      setosa
18   19      setosa
21   22      setosa
24   25      setosa
27   28      setosa
30   31      setosa
33   34      setosa
36   37      setosa
39   40      setosa
42   43      setosa
45   46      setosa
48   49      setosa
51   52  versicolor
54   55  versicolor
57   58  versicolor
60   61  versicolor
63   64  versicolor
66   67  versicolor
69   70  versicolor
72   73  versicolor
75   76  versicolor
78   79  versicolor
81   82  versicolor
84   85  versicolor
87   88  versicolor
90   91  versicolor
93   94  versicolor
96   97  versicolor
99  100  versicolor

In [141]:
data_cleaned['sepalwidth'].groupby(data_cleaned['class']).mean(numeric_only=True)

class
setosa        3.418000
versicolor    2.770000
virginica     2.974468
Name: sepalwidth, dtype: float64