In [1]:
import pandas as pd
import xml.etree.ElementTree as ET
import json
import csv

In [2]:
tree = ET.parse(r'D:\stady\work_project\a.xml')
root = tree.getroot()

In [3]:
with open('students.csv', 'w', newline='', encoding='utf-8') as csvfile:
    csv_writer = csv.writer(csvfile)
    csv_writer.writerow(["SID", "First Name", "Last Name", "Date"])
    out_data=[]
    for student in root.findall('student'):
        sid = student.get('SID')
        first_name = student.find('firstName').text
        last_name = student.find('lastName').text
        date = student.find('date').text
        out_data.append({"stdid":sid,
                         "frist name":first_name,
                         "last name":last_name,
                         "date":date})
        csv_writer.writerow([sid, first_name, last_name, date])

print("CSV file has been created successfully.")

CSV file has been created successfully.

In [4]:
out_data

[{'stdid': '1',
  'frist name': 'Sandy',
  'last name': 'Guillaumeau',
  'date': '1988-04-09'},
 {'stdid': '2',
  'frist name': 'Quentin',
  'last name': 'Decayeux',
  'date': '1990-02-01'}]

In [7]:
df = pd.DataFrame(out_data)

In [8]:
json_file = 'students.json'
df.to_json(json_file, orient='records', lines=True)

In [9]:
df

  stdid frist name    last name        date
0     1      Sandy  Guillaumeau  1988-04-09
1     2    Quentin     Decayeux  1990-02-01